

#modalButton {
	cursor: pointer;
	margin: 5vh 0 0 35vw;
	padding:1vw;
	border-color:#1480e2;
	width: 25vw;
	height: 8vh;
	font:italic bold 1.2rem sans-serif ;
	background-color: transparent;


}
.customModal {
	height:30vh;
	width:28vw;
	border:3px solid #5300ff33;
	margin-left:34vw;
	margin-top:18vh;
}
.heading {
	height:8vh;
	border-bottom:2px solid #5300ff33 ;
}
.heading h4 {
	margin:0;
}

#modalHeading {
	padding:1.5vh;
	font-size: 1.2rem;
}

.modalBody {
	height:10vh;
}
#modalText {
	padding:2vw;
	font-size: 1.2rem;
}
.modalFooter {
	height:7vh;
	margin-bottom:1vh;

}
.buttons {
	display:flex;
	flex-direction: row-reverse;
}
.clickButtons {
	margin: 0 0.5vw ;
	border-color: #bf2227d4;
	background-color: transparent;
	font:italic bold 1.2rem sans-serif ;
	padding:0.5vw;
	width:8vw;
	cursor: pointer;
	font-size:;
}


@media only screen and (max-width: 300px) {
	#modalButton {
		width: 98vw;
		height: 10vh;
		margin:5vh 0 0 2vw;
	}
	.customModal {
		margin-left: 2vw;
		width: 92vw;
		height: 33vh;

	}
	.clickButtons{ 
		width:38vw;
		margin:0 3vw;
	}

	

}

@media only screen and (min-width: 300px) and (max-width:500px) { 
	#modalButton {
		width: 61vw;
		height: 10vh;
		margin-left:20vw;
	}
	.customModal {
		margin-left: 24vw;
		width: 58vw;
		height: 33vh;

	}
	.modalBody {
		height:13vh;
	}
	.modalFooter {
		height: 9vh;
	}
	.clickButtons{
		margin: 0 2vw;
		padding: 0.8vw;
		width: 29vw;
	}
	
}

@media only screen and (min-width : 500px) and (max-width : 700px) {

	.customModal {
		margin-left: 25vw;
		width: 47vw;
		height: 35vh;

	}
	#modalButton {
		width: 44vw;
		height: 10vh;
		margin-left:23vw;
	}
	.modalBody {
		height:13vh;
	}
	.modalFooter {
		height: 9vh;
	}
	.clickButtons{
		margin: 0 2vw;
		padding: 0.8vw;
		width: 29vw;
	}

}

@media only screen and (min-width:700px) and (max-width:1200px)
{
	#modalButton {
		width: 37vw;
		height: 12vh;
		font-size:1.5rem;
	}
	.customModal {
		margin-left: 32vw;
		width: 43vw;
		height: 35vh;

	}
	#modalHeading {
		font-size:1.6rem;
	}
	.modalBody {
		height:14vh;
	}
	#modalText{
		font-size:1.8rem;
	}

	.clickButtons{
		width:12vw;
		font-size:1.5rem;
	}

}

@media only screen and (min-width:1200px) 
{
	#modalButton  {
		font-size:1.2rem;
	}

	#modalText{
		font-size:1.5rem;
	}
	#heading {
		font-size:1.5rem;
	}
	.clickButtons {
		font-size:1.5rem;
	}
	

}